APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:YiaYYC50ujAeHjn7N2G6U1tZFm2rd577m4kee1ZRLp8=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost

FRONT_URL=http://localhost:3030

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

FILESYSTEM_DISK=public      #for image


APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug



DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=concept_a
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=a5a0204873908f
MAIL_PASSWORD=61194f9afea574
MAIL_ENCRYPTION=tls
# MAIL_FROM_NAME="${APP_NAME}"

###########live version

# MAIL_MAILER=smtp
# MAIL_HOST= # Outgoing server
# MAIL_PORT=465                      # SMTP port for SSL
# MAIL_USERNAME=  # Full email address
# MAIL_PASSWORD=# Replace with the email password
# MAIL_ENCRYPTION=ssl                # SSL encryption for port 465
# MAIL_FROM_ADDRESS=  # Same email address
# MAIL_FROM_NAME=       # Your application's name


AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false


GOOGLE_CLIENT_ID= 
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT=

FB_CLIENT_ID =
FB_CLIENT_SECRET =
FB_REDIRECT=

PAYSTACK_PUBLIC_KEY=
PAYSTACK_SECRET_KEY=
PAYSTACK_PAYMENT_URL=
MERCHANT_EMAIL=unicodeveloper@gmail.com

VITE_APP_NAME="${APP_NAME}"
